
.block{
	display: inline-block;
	width: 393px;
	height: 320px;
	position: relative;
	margin-right: 10px;
	margin-bottom: 12px;
}
.block.for-basket{
	width: 360px;
}
.block:not(.template):nth-child(3n){
	margin-right:0;
}
.block .block-inner{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	padding: 16px;
	box-sizing: border-box;
}
.block .block-inner img{
	height: 120px;
	border-radius: 5px;
	cursor:pointer;
}
.block .block-inner .params{
	background-color: red;
}

.block .block-inner .name{
    margin-bottom: 5px;
	
    font-size: 0.9em;
    border-bottom: 1px solid rgb(231, 231, 231);
    font-weight: bold;
}

.block .block-inner .main-table{
	width:100%;
	margin-top: 15px;
}
.block .block-inner .main-table>tbody>tr>td{
	vertical-align: top;
}
.block .block-inner .desc-table{
	width: 100%;
	font-size:14px;
}
.block .block-inner .desc-table td{
	padding-bottom:2px;
	vertical-align: top;
}
.block .block-inner .desc-table td.pname{
	text-decoration: underline;
}
.block .block-inner input.count{
	width:30px;
}
.block .block-inner .controls{
	position: absolute;
	bottom: 13px;
 	
	right: 10px;
}
.block .add-to-basket .icon{
	width: 12px;
	height: 12px;
	background-image:url(/img/shopping232.png);
	background-size: 100%;
}
.blocks{
	text-align: center;
}