.filter{
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.92);
	padding: 13px;
	margin-bottom: 16px;
	box-sizing:border-box;
}
.filter .cat-table{
	width:100%;
	table-layout:fixed;
}
.filter .cat-table th{
	padding-bottom:5px;
}
.filter .cat-table td,th{
	text-align: left;
	vertical-align: top;
}
.filter .cat-table td{
	border-right:1px solid silver;
	padding: 5px;
}
.filter .cat-table td:last-child{
	border-right:none;
}
.filter .cat-table .union-elem{
	padding:3px;
	border: 1px solid rgb(140, 140, 140);
	border-radius:3px;
	display: inline-block;
}
.filter .cat-table .ui-icon.ib{
	display: inline-block;
	position: relative;
	top:2px;
	cursor:pointer;
}
.filter .cat-table .filter-input{
    height: 25px;
    width: 96%;
    background-color: rgba(227, 227, 227, 1);
    border: none;
    border-bottom: 2px solid rgb(203, 203, 203);
    outline: none;
    padding-left: 4px;
}
.filter .cat-table .size-to-low{
	width: 91%;
	margin-left: 6%;
	margin-top: 5px;
}
.filter .cat-table .range-container{
	margin-bottom: 2px;
}
.filter .cat-table .range-container .title,.numbers{
	font-size: 12px;
}
.filter .not-selected{
	width:100%;
	color:silver;
  	text-align: center;
  	margin-top: 20%;
}
.filter .reset-button{
	width:100%;
}
.filter .row-with-reset td{
	border-right:none;
	padding-top:5px;
}