
.container{
	height:100%;
	width:100%;
	padding:30px;
}

.box.video{
	width: 605px;
	height: auto;
	left: 50%;
	
	top: 20px;
}

.box.video .body{
	height:400px;
}

.box.about{
	width: 605px;
	top: 498px;
	right: 20px;
	
	left: 50%;    
}
.box.about .body{
	background-color: rgba(255, 255, 255, 0.6);
	padding: 20px;
	color: rgb(1, 50, 114);
	
	display: inline-block;
	height: auto;
}
.box.about .body h2{
	font-size: 17px;
	margin-bottom: 4px;
	margin-top: 5px;
	font-weight: bold;
	
}
.box.about .body p{
	font-face: ÃÂ­Helv;
	
}

