*{
	margin:0;
	padding:0;
}
html{
	background: url(/img/water-grain.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";	
}

body{
	font-family: "Myriad Set Pro", Tahoma;
}

.template{
	display: none !important;
}
.shadow1{
	-webkit-box-shadow: 0px 0px 16px -5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 16px -5px rgba(0,0,0,1);
	box-shadow: 0px 0px 16px -5px rgba(0,0,0,1);
}
.gradient1{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e8e8e8+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e8e8e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */

}
.menu{
	width:100%;
	margin:0 auto;
	height:auto;
	background-color: rgba(255, 255, 255, 0.92);
	position: fixed;
	top:0;
	z-index:1000;
}
.menu .menu-center{
	width: 1200px;
	margin:0 auto;
	height:40px;
	position: relative;
}
.menu .menu-center div{
	display: inline-block;
}
.menu .menu-center a{
	text-decoration: none;
	display: inline-block;
	color:black;
}
.menu .menu-center .menu-item{
	height:100%;
	vertical-align: top;
	padding:10px;
	padding-top: 14px;
	box-sizing: border-box;
	cursor: pointer;
	
}
.menu .menu-center .menu-item.hoverable{
	transition:0.5s;
}
.menu .menu-center .menu-item.hoverable:hover{
	background-color: rgb(79, 175, 213);
	color: rgb(195, 239, 255);
}
.menu .menu-center .menu-item.hoverable.active{
	background-color: rgb(79, 175, 213);
	color: rgb(195, 239, 255);	
}
.menu .menu-center .menu-item .menu-item-icon{
	display: inline-block;
	width: 18px;
	height: 18px;
	background-size: 100%;
	background-repeat: no-repeat;
	vertical-align: middle;
	position: relative;
	top: -3px;
}
.menu .menu-center .menu-item .menu-item-text{
	position: relative;
	top: -3px;
	vertical-align: middle;
}
.menu .menu-center .spacer{
	display: inline-block;
	width: 200px;
}

.menu .menu-center .menu-item.logo .menu-item-icon{
	width: 24px;
	height: 35px;
	background:url(/img/logo.png);
	background-size: 100%;
	margin-top: 3px;
	background-repeat: no-repeat;
}
.menu .menu-center .menu-item.logo{
	padding: 0;
	padding-top: 2px;
}
.menu .menu-center .menu-item.basket{
	position: absolute;
	right:0;
	padding-right:2px;
}
.menu .menu-center .menu-item.basket .menu-item-icon{
	background-image: url(/img/shopping232.png);
	margin-left: 4px;
}
.menu .menu-center .menu-item.catalog .menu-item-icon{
	background-image: url(/img/square234.png);
	margin-left: 4px;
}
.menu .menu-center .menu-item.contact .menu-item-icon{
	background-image: url(/img/facebook30.png);
	margin-left: 4px;
}

.menu .menu-center .menu-item.orders .menu-item-icon{
	background-image: url(/img/shopping232.png);
	margin-left: 4px;
}
.menu .menu-center .menu-item.list .menu-item-icon{
	background-image: url(/img/square234.png);
	margin-left: 4px;
}
.menu .menu-center .menu-item.user-info .menu-item-icon{
	margin-left: 4px;
}
.menu .popup{
	
}
.content{
	width:1200px;
	margin:0 auto;
	margin-top: 65px;
}
.content.text{
	background-color: rgba(255, 255, 255, 0.92);
	padding:20px;
	text-align: left;
	box-sizing: border-box;
}

.upper-window{
	position: fixed;
	width:500px;
	text-align: center;
	padding:10px;
	background-color:rgb(237, 92, 92);
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	top:-100px;
	z-index:1100;
}



.cover{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1200;
}
.modal-content{
	position: fixed;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	z-index: 110;
}
.modal-close{
	position: fixed;
	text-decoration: underline;
	color:white;
	width:100px;
	text-align: right;
	cursor: pointer;
}
.modal-basket{
	width:1200px;
	padding:20px;
	box-sizing:border-box;
	height: 80%;
  	overflow-y: scroll;
}
.modal-basket .fields{
    margin: 0 auto;
    width: 901px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.modal-basket .sty-input{
	height: 30px;
	width: 100%;
	background-color: rgba(227, 227, 227, 1);
	border: none;
	border-bottom: 2px solid rgb(203, 203, 203);
	outline: none;
	padding-left: 4px;
	margin-bottom: 5px;
	border-radius: 5px;
	box-sizing: border-box;
}
.modal-basket button.submit{
	width: 100%;
	box-sizing: border-box;
}

.to-top{
	background-color: rgba(255, 255, 255, 0.92);
	position: fixed;
	bottom:10px;
	left:10px;
	padding:5px;
	cursor: pointer;
}


.loader{
	margin: 0 auto;
	border-radius: 100px;
	display: block;
	margin-top: 10px;
}
.nothing-found{
	display: none;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	color: rgb(86, 86, 86);
	box-sizing: border-box;
}

.page-menu{
	position: fixed;
	background-color: #6BC86B;
	z-index: 500;
	left: 0;
	top: 0;
	width:100%;
	height: 0;
	overflow: hidden;
	transition: 1s;
	opacity: 0.95;
	color:white;
}

.page-menu.opened{
	height: 100%;
}
.page-menu.closed{
	height: 0 !important;
}
.page-menu .head{
	position: relative;
	margin-top: 47px;
	padding-left: 22px;
}
.page-menu .head h3{
	padding:4px;
}
.page-menu .head .buttons{
	position: absolute;
	right: 78px;
	top: 1px;
}
.page-menu .head .buttons .button{
	display: inline-block;
	border:2px solid white;
	color:white;
	padding:5px; 
	transition:0.5s;
	cursor:pointer;
}
.page-menu .head .buttons .button:hover{
	background-color: white;
	color:#6BC86B;	
}
.page-menu .head .buttons .button.bottom-border{
	border:none;
	border-bottom:2px solid white;
}
.page-menu .head .cross{
	position: absolute;
	right: 17px;
	top: 3px;
	cursor: pointer;
	width: 24px;
	height: 24px;
	background: url(/img/cross97.png) no-repeat;
	background-size: 100%;
	transition:0.2s;
}
.page-menu .head .cross:hover{
	width: 26px;
	height: 26px;
	margin-left: -1px;
	margin-top: -1px;
}
.page-menu .container{
	position: absolute;
	top:85px;
	left:20px;
	right:20px;
	bottom:20px;
	overflow-y:auto;
}
.page-menu .container table{
	table-layout: fixed;
	width:100%;
}
.page-menu .container table td.category{
	text-align: left;
	position: relative;
	cursor: pointer;
	vertical-align: top;
	padding: 4px;
	padding-right:30px;
	transition:0.2s;
}
.page-menu .container table td.category:hover{	
	background-color: white;
	color:#6BC86B;	
}
.page-menu .container table td.category.active{
	background-color: white;
	color:#6BC86B;
}
.page-menu .container table td.category .plus{
	opacity: 0;
	position: absolute;
	right:5px;
	top:50%;
	transform : translateY(-50%);
	background-image: url(/img/add182.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}
.page-menu .container table td.category:hover .plus{
	opacity: 1;
}
.page-menu .container table td.category .plus.minus{
	background-image: url(/img/round.png);
	opacity: 1;
}