body{
	cursor: move;
	overflow: hidden;
}
rect{
	transition:0.5s;
	fill: rgb(199, 199, 199);
	
	stroke-width:2px;
}

line{
  stroke: rgb(189, 189, 189);
  stroke-width:2px;
}

#treesvg g text:hover, #treesvg g rect:hover{
	cursor:pointer;
}
#navdiv{
	background:#555;
}
#treesvg{
	border:1px solid grey;
}
#labelpos{
	color:white;
}
#navdiv button, #navdiv textarea{
	vertical-align:middle;
}
#g_labels text{
	text-anchor:middle;
	font-size: 17px;
}

.packets{
	position: absolute;
	width:120px;
	height:20px;
	transition:0.5s;
	opacity: 0;
	text-align: center;
}
.packets .packet{
	 transition: 0.5s;
	  height: 20px;
	  width: 20px;
	  display: inline-block;
	  cursor: pointer;
	  opacity: 0.2;
	  text-align: center;
	  font-size: 17px;
	  color: white;
	  border-radius: 3px;
	  right: 2px;
	  margin:2px;
}
.packets .packet:hover{
	border-bottom:4px solid white;
	opacity: 0.7;
}
.packets .packet.active{
	border-bottom:4px solid white;
	opacity: 1;
}

.packets .packet.p0{
	background-color: #8645D7;
}
.packets .packet.p1{
	background-color: #0199E9;
}
.packets .packet.p2{
	background-color: #A1D311;
}
.packets .packet.p3{
	background-color: #F98C0D;
}
.packets .packet.p4{
	background-color: #DE5A43;
}
.packets.show{
	opacity: 1;
}

.mano-pointer{
  position: absolute;
  background-image: url(../img/mano_cursor.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 23px;
  height: 37px;
  transform: scaleX(-1) rotate(90deg);
  opacity: 0;
  transition:0.5s;
  z-index:100;
}
.mano-pointer.show{
	opacity: 1;
}


.payer-num{
	position: absolute;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  color: white;
  padding-top: 1px;
  border:2px solid #e5e5e5;
  box-sizing:border-box;
}

.platform{
	position: fixed;
	width: 200px;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1111111111;
}
.top-hat .right .buttons{
	width:123px !important;
	display: none;
}
.top-hat .right .buttons .button{
	margin-right:0 !important;
}

.platform.mins{
	min-height: 0 !important;
	min-width: 0 !important;	
}