.packets-container{
	margin:0 auto;
	 text-align: center;
	 margin-top:50px;
}
.packet{
	display: table;
	height:80px;
	width:100%;
	transition:0.5s;
}
.packet:nth-child(odd){
	background-color:rgb(231,231,231);
}
.packet:nth-child(even){
	background-color:rgb(244,244,244);
}
.packet:hover{
	background-color: rgb(220, 220, 220);
}
.packet div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.packet .bought-icon{
	width:100px;
}
.packet .bought-icon .icon{
	display: inline-flex;
	background-image: url(../img/icons/check.svg)
;
	width: 28px;
	height: 26px;
	background-size: 100%;
	background-repeat: no-repeat;
}
.packet .cost{
	width: 107px;
	font-size: 23px;
	margin-top:10px;
}
.packet .buy{
	width:100px;
	padding:5px;
	
	cursor:pointer;
	transition:0.5s;
}
.packet .buy.ok{
	width:100px;
	
	color: rgb(80, 140, 80);
	font-weight: bold;
}
.packet .buy.inactive{
	width:100px;
	
  	color: rgb(185, 192, 205);
}
.packet .buy:not(.inactive):not(.ok):hover{
	width:100px;
	color: #C84343;
}
.packet .between{
	width:140px;
}
.packet .earned-title{
	width:100px;
    margin-top: 30px;

    font-size: 15px;
    color: black;
    text-transform: uppercase;
}
.packet .earned-amount{
	width:100px;
    font-size: 40px;
	
    margin-top: 37px;
    color: black;
}