.edit-toolbar{
	padding:5px;
	margin-bottom: 15px;
}
.ui-state-active span.ui-button-text{
	background-color:rgb(173, 226, 152);
}
.filter{
	max-height: 200px;
	overflow: hidden;
	opacity: 1;
}

.product{
	width: 100%;
	padding: 13px;
	margin-bottom: 3px;
	box-sizing: border-box;
}
.product .fields{
	display: inline-block;
	width:90%;
}
.field{
	display: inline-block;
	width:32%;
	display: inline-flex;
  	justify-content: space-between;
  	-webkit-justify-content: space-between;
	padding: 1px;
}
.field .name{
	margin-right: 10px;
	margin-left: 2px;
	font-weight: 500;
}
.field .edit{
	flex-grow:1;
	-webkit-flex-grow:1;
}
.product img{
	width: 100%;
	cursor: pointer;
	border-radius:3px;

}
.product div.changed{
	box-sizing:border-box;
	background-color: rgb(149, 231, 149);
}
.product img.changed{
	box-sizing:border-box;
	border: 2px solid rgb(149, 231, 149);
}
.product .im-container{
	display: inline-block;
	width: 8%;
	height: 100%;
}
.product button.revert{
	width:100%;
	display: none;
}
.product button.delete{
	display: inline-block;
	width: 200px;
}

.changed-products{
	margin-bottom: 50px;
}

#save{
	float: right;
}