.box.register{
	position: fixed;
	width: 248px;
	top: 80px;
	right: 20px;
	z-index: 10;
}
.box.management{
	position: fixed;
	width: 248px;
	z-index: 10;
	top: 40px;
	right: 20px;
	z-index: 9;
}
.box.management .button.buy.active{
	background-color: rgb(107, 197, 82);
}

.box.info{
	position: fixed;
	width: 462px;
	z-index: 10;
	top: 44px;
	right: initial;
	left: 5px;
	z-index: 9;
}